<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:brewer="http://brewer.algaworks.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/LayoutPadrao">
<head>
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-switch.min.css}">
</head>
<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <h1 th:if="${usuario.novoUsuario}">
                Cadastro de usuários
            </h1>
            <h1 th:unless="${usuario.novoUsuario}" th:text="|Edição do Usuário: ${usuario.nome}|">
                Edição de usuário
            </h1>

        </div>
    </div>
    <div class="container-fluid">


        <form method="post" th:object="${usuario}" th:action="${usuario.novoUsuario} ? @{/usuarios/novo} :
         @{/usuarios/{codigo}(codigo = ${usuario.codigo})}" class="form-vertical  js-form-loading">
            <brewer:message/>
            <input type="hidden" th:field="*{codigo}">
            <div class="row">
                <div class="form-group col-sm-12 bw-required" brewer:classforerror="nome">
                    <label for="nome" class="control-label">Nome</label>
                    <input type="text" id="nome" class="form-control" th:field="*{nome}"/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6  bw-required" brewer:classforerror="email">
                    <label for="email" class="control-label">E-mail</label>
                    <input type="text" id="email" class="form-control" th:field="*{email}">
                </div>

                <div class="form-group col-sm-3">
                    <label for="nascimento" class="  control-label">Data de Nascimento</label>
                    <input type="text" id="nascimento" class="js-date form-control" th:field="*{dataNascimento}"
                           autocomplete="off">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-3 " brewer:classforerror="senha"
                     th:classappend="${usuario.novoUsuario} ? bw-required">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" th:field="*{senha}" class="form-control">
                </div>

                <div class="form-group col-sm-3 " brewer:classforerror="confirmacaoSenha">
                    <label for="senhaConf" class="control-label">Confirmação de senha</label>
                    <input type="password" id="senhaConf" th:field="*{confirmacaoSenha}" class="form-control">
                </div>

                <div class="form-group col-sm-3 " th:if="${#authentication.principal.usuario.codigo != usuario.codigo}">
                    <label class="control-label">Status</label>
                    <div>
                        <input type="checkbox" class="js-status" data-size="small" data-off-color="danger"
                               data-on-text="Ativo" data-off-text="Inativo" th:field="*{ativo}"/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6  bw-required" brewer:classforerror="grupos">
                    <label class="control-label">Grupos</label>
                    <div>
                        <th:block th:each="grupo : ${grupos}">
                            <div class="checkbox checkbox-inline">
                                <input type="checkbox" th:field="*{grupos}" th:value="${grupo.codigo}"/>
                                <label th:for="${#ids.prev('grupos')}" th:text="${grupo.nome}">Administradores</label>
                            </div>

                        </th:block>

                    </div>
                </div>
            </div>


            <div class="form-group">
                <button class="btn  btn-primary" type="submit">Salvar</button>
            </div>

        </form>
    </div>

</section>
<th:block layout:fragment="javascript-extra">

    <script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>

    <script>
        $('.js-status').bootstrapSwitch();
    </script>

</th:block>

</body>
</html>